<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5; url=https://bonjoev.github.io/C-STREAM/">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.3.0.min.js" integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="icon" href="/C-STEM-Curriculum/favicon.ico" type="image/x-icon">

    {% include head-custom.html %}
  </head>
  <body>

      <header>
        <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
      </header>

      <div id="banner">
        <span id="logo"></span>
        <div class="right-align">
          <a href="https://bonjoev.github.io/C-STREAM/" class="button"><strong>🚀 GO TO C-STREAM</strong></a>
          <a href="https://github.com/bonJoeV/C-STREAM" class="button"><strong>GitHub Repo</strong></a>
      </div>
      
      <style>
          .right-align {
              text-align: right;
          }
          .button {
              margin-left: 10px;
          }
      </style>

      </div><!-- end banner -->

    <div class="wrapper">
      <nav>
        <ul>
        </ul>
      </nav>
      <section>
        {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
          Project moved to <a href="https://github.com/bonJoeV/C-STREAM">C-STREAM</a> | <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
        {% endif %}
        <small>Theme <a href="https://twitter.com/mattgraham">mattgraham</a></small>
      </footer>
    </div>
  </body>
</html>